{% extends 'base.html' %}

{% block content %}

<section class="hero is-info">
    <div class="hero-body">

        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    <img src="{{url_for('static', filename=dog['Picture'])}}">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <a href="{{url_for('profile',username=dog['Username'])}}">
                            <strong>{{dog['Name']}}</strong>
                            <small>@{{dog['Username']}}</small> 
                        </a>
                        <small>(Birthday: {{dog['Birthday']}})</small>
                        
                        <br>
                        {{dog['Bio']}}
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item button">
                            <span class="icon-text">
                                <span class="icon">
                                  <i class="fas fa-dog"></i>
                                </span>
                                <span>Add friend</span>
                              </span>
                        </a>
                    </div>
                </nav>
            </div>
        </article>
    </div>
</section>

<section class="mt-6">
{% for post in dog['Posts'].values() %}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{url_for('static', filename=post['Picture'])}}" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <a href="{{url_for('profile',username=dog['Username'])}}">
                        <strong>{{post['Name']}}</strong> <small>@{{post['Username']}}</small> 
                        </a><small>{{post['DateTime']}}</small>
                        <br>
                        {{post['Text']}}
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item" aria-label="like">
                            <span class="icon-text">
                                <span class="icon is-small">
                                    <i class="fas fa-heart"></i>
                                </span>
                                <span>{{post['Likes'] | count}}</span>
                            </span>
                        </a>
                        <a class="level-item" aria-label="like" href="{{url_for('comments', post_id=post['PostId'])}}">
                            <span class="icon-text">
                                <span class="icon is-small">
                                    <i class="fas fa-comment"></i>
                                </span>
                                <span>{{post['Comments'] | count }}</span>
                            </span>
                        </a>
                    </div>
                </nav>
            </div>
        </article>
    </div>
{% endfor %}
</section>


{% endblock %}